{% extends 'AppBundle::base.html.twig' %}
{% block search %}
    <section id="search-container">
        <div class="search-container-div">
            <div class="row">
                <ul class="ul_class">
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 1</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 2</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 3</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 4</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 5</a></li>
                </ul>
                <ul class="ul_class">
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 6</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 7</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 8</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 9</a></li>
                    <li><a href="#"><img src="photo/1.jpg" alt="..." class="img-circle"> Категория 10</a></li>
                </ul>
            </div><!-- /.row -->
        </div>
    </section>
{% endblock %}

{% block body %}

    <h4>CLIENT PAGE!</h4>

{% endblock %}