{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h3>COMPANY PAGE!</h3>
    <h4>Здесь вы можете добавить продукт!</h4>
    <ul>
        <li>
            <a href="{{ path('new_new') }}">Добавить новый продукт!</a>
        </li>
    </ul>

{% endblock %}