html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body { line-height: 1;font-family: Arial, Helvetica, sans-serif;font-size: 12px; width: 100%; height: 100%; color: #000; font-size: 14px; }

#wrapper { margin: 10px auto; width: 1000px; }
#wrapper a { text-decoration: none; }
#wrapper span.highlight { color: #F48A00; border-bottom: 1px solid #ccc;}

#header {border-bottom: 1px solid #ccc;}
#body-blog-body {height: auto;}



#main-body {padding-top: 20px;}
#main-body image {width: 200px; height: 200px;}

#body-blog-body label {margin-right: 10px; font-family: "Arial"; font-size: 14px;}
#body-blog-body .registr-form-registr { margin: 50px; margin-left: 400px; }
#body-blog-body .login-input-registr {margin-left: 10px;}
#body-blog-body .email-input-registr {margin-left: 8px; margin-top: 5px;}
#body-blog-body .pass-input-registr {margin-left: -1px; margin-top: 5px;}
#body-blog-body .button-registr {height: 50px; width: 231px; margin-top: 5px; font-size: 25px;}

#body-blog-body .auth-form{padding-top: 15px;}
#body-blog-body .login-input-auth {margin-left: 10px;}
#body-blog-body .pass-input-auth {margin-left: -1px; margin-top: 5px;}
#body-blog-body .button-auth {height: 50px; width: 231px; margin-top: 5px; font-size: 25px;}

#body-blog-body #company-page-ad { margin-top: 30px; margin-bottom: 30px; margin-left: 250px; margin-right: 250px;  }
#body-blog-body #auth-page { margin-top: 30px; margin-bottom: 10px;}
#body-blog-body .div-ad-ad {border-bottom: 1px solid #ccc;}

.photo-input-company {position: relative;}
.upload-photos-company {position: relative;}

#search-container .search-container-div {margin-top: 20px; border-bottom: 1px solid #ccc; padding-bottom: 40px;}

#main-body { margin-top: 20px; margin-bottom: 20px;}

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

.file-upload {
    position: relative;
    height: 32px;
    margin-bottom: 15px;
    width: 40%;
    cursor: pointer;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.42857143;
    color: #555;
}

.file-upload:after {
    content: "Обзор";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    padding: 6px 12px;
    color: #333;
}
.file-upload:hover:after {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.file-upload:active:after {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.file-upload:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: calc(100% - 40px);
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-upload input {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    z-index: 99;
    width: 100%;
    opacity: 0;
}