{% extends 'AppBundle::base.html.twig' %}

{% block profile %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{ app.user.email|default('Вход') }}<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path('company_page') }}"><i class="fa fa-user fa-fw"></i>Информация</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i>Сменить пароль</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Выход</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
{% endblock %}